html{
   background: url('../images/sea.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    display: block;
    max-width: 500px;
    margin: 30px auto;
    position: relative;
}

header{
    background-color: #15708b;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

header h1{
    padding: 10px 0px 5px 30px;
}

header div.promo{
    background-color: #90b935;
    position: absolute;
    right: 15px;
    top: 0px;
    text-align: center;
    padding: 0px 10px; 
    z-index: 99999;
}

.down {
   position: absolute;
    right: 14px;
    top: 118px;
    width: 6px;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 20px solid #90b935;
    z-index: 99999;
}

main{
    background-color: #fff;
    top: 0px;
    width: 500px;
    position: absolute;
    top: 90px;
    border-radius: 0px 0px 10px 10px;
}

main div.step-1{
    background-color: #f7f3f4;
    max-width: 450px;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px 0 1px 0;;
}

input[type=text] {
    width: 85%;
    padding: 12px 20px;
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;  
}
label {
    width: 85%;
    margin: 10px auto;
    display: block; 
}

button{
    margin: 0 auto;
    padding: 10px 10px;
    font-weight: bold;
    background-color:#82a02f;
    color: #fff;
    border-radius: 5px;
    outline: 0;
}

