header, div.content, article, aside{
    display: block;
    height: 80px;
    max-width: 970px;
    margin: 0 auto;
}
h1{
    display: none;
}
h2.courses{
    display: block;
    max-width: 970px;
    margin: 0 auto;
    padding: 30px 0px;
}

header figure{
    float: left;
    display: block;
    margin: 2px;
}

nav{ 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    float: right;
    padding-top: 30px; 
    display: block;
}

nav li a{ 
    font-weight: normal; 
    color: #b0bcc2;
    padding: 9px;
    text-decoration: none; 
}
nav li:last-child{ 
    padding-right: 0px;
}

.active a{
    background-color: #3b82e4;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

figure.image-logo img{
    max-width: 150%;
}

figure.image-logo img{
    width: 200px;
    height: 120px,
}

nav.menu ul{ 
  list-style-type: none;
  display: inline;
}

nav.menu ul li {
       display:inline-block;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    background: rgba(119,165,183,0.9);
    opacity: 0.6;
}

div.owl-dots{
    float: right;
}

figure.banner{
   margin: 0;
   position: relative;
}
figure.banner figcaption.fig-title{
   position: absolute;
   top: 30px;
   color: #fff;
   font-size: 40px;
   top: 50%; 
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

figure.banner figcaption.fig-subtitle{
   position: absolute;
   top: 30px;
   color: #fff;
   font-size: 20px;
   top: 60%; 
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

figure{
    cursor: pointer;
}

figure.banner-tiles{
    background-color: #f5f5f5;
    display: inline-block;
}

div.main-tiles{
    display: block;
    max-width: 970px;
    margin: 0 auto;
    padding: 0;
}

div.main-tiles div.tile{
    margin: 6em 0.5em 0 0.5em;
    max-width: 22%;
    display: inline-block;
    text-align: center;
    background-color:  #f4f4f4;
}
div.main-tiles div.tile figure{
    margin: 0 auto;
    position: relative;
    width: 90%;
    position: relative;
}

div.main-tiles div.tile figure img{
    position: absolute;
    top: -64px;
    left: calc(50% - 64px);
}

div.main-tiles div.tile figure figcaption.fig-title{
    padding-top:80px;
}

div.main-videos{
    display: block;
    max-width: 970px;
    margin: 0 auto;
    padding: 0;
    height: 300px;
}

div.video{
    display: inline-block;
    max-width: 33%;
    padding: 0;
    position: relative;
}

div.video figure{
    margin: 0 auto;
    position: relative;
    width: 95%;
    text-align: left;
}

div.video figure figcaption{
    margin: 20px 0;
}


div.main-sections{
    display: block;
    height: 300px;
    max-width: 970px;
    margin: 40px auto;
    margin-bottom: 40px;
}

div.video figure.banner-tiles figcaption{
    padding-left: 10px;
    padding-right: 10px;
}

article, aside{
    float: left;
}
article { width:65%; margin-right:2%;}
aside { width:30%;}

footer{
    background-color: #d8d8d8;
}
footer div.footer-items{
    display: flex;
    text-align: left;
    padding: 0 0;
    font-size: 0.9em;
    color: #8a8a8a;
    max-width: 970px;
    margin: 0 auto;
}

footer div.social{
    width: 100%;
    background-color: #d8d8d8;
    color: #8a8a8a;
    display: inline-block; 
    text-align: center;
    padding-bottom: 20px;
}
footer div.social i{
    padding: 0 0.2em 0 0.2em;
}

footer div.footer-items ul{
    list-style-type: none;
    padding: 0 0 10px 0;
}

footer div.footer-items ul li{
    padding: 7px 0 7px 0;
}

footer div.footer-items .left{
    order: 1;
    flex-basis: 25%;
    padding: 0 0.5em;
}
footer div.footer-items .center1{
    order: 2;
    flex-basis: 25%;
    padding: 0 0.5em;
}
footer div.footer-items .center2{
    order: 3;
    flex-basis: 25%;
    padding: 0 0.5em;
}
footer div.footer-items .right{
    order: 4;
    flex-basis: 25%;
    padding: 0 0.5em;
}
footer div.footer-items .right p.contact{
    margin: 1px 0 1px 0;
}

footer div.last-nav{
    background-color: black;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.8em;
}

footer div.footer-black{   
    height: 50px;
    max-width: 970px;
    margin: 0 auto;
}

footer div.footer-black nav {
    max-width: 450px;
    padding-top: 1.5em;
    float: left;
}

footer div.footer-black nav a {
    text-decoration: none;
     color: white;
     padding: 0 7px 0 7px;
}

footer div.footer-black p {
    float: right;
    padding-top: 0.5em;
}

@media (min-width: 768px) and (max-width: 979px) { 
    article, aside{ display:block; float:none; width:100%; height: auto;}
 }





